@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  background-color: #eee;
  color: rgb(30 41 59);
  scroll-behavior: smooth;
  --page-max-width: 1400px;
}

h1 {
  font-weight: 800;
  font-size: 3rem;
}
h5 {
  font-weight: 600;
  font-size: 2rem;
  margin: 2rem 0 1rem;
}
h6 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1rem 0;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.section-visible {
  color: red;
}
